%ul.content-ul
  - media_items.each do |media_item|
    %li
      = image_tag "placeholder.png"
      = link_to media_item_path(media_item) do
        = media_item.title
      %p= media_item.description
