<h1>Media Files</h1>
<table id="media-items-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @media_items.each do |media_item| %>
      <tr>
        <td><%= media_item.title %></td>
        <td><%= media_item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
