/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
  padding-left: 0px;
}

.header-ul li, .content-ul li {
  display: inline-block;
  padding-left: 20px;
}

.content-ul li {
  width: 150px;
  height: 200px;
  margin: 0px 0 0 10px;
  vertical-align: top;
}

.media-item-form ul {
  width: 400px;
}
.media-item-form ul li {
  margin: 5px;
  padding: 5px;
  height: 40px;
}

.media-item-form li label,.media-item-form li input, .media-item-form li textarea {
  padding: 5px;
}

.media-item-form li input, .media-item-form li textarea {
  float: right;
}

.header form {
  padding-left: 20px;
}

.footer {
  padding-top: 30px;
}

ul.content-ul p {
  margin: 0px 0;
}

.content-ul img {
  width: 150px;
  height: 150px;
}